
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 0px 0px var(--white) ;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    /* margin: 0 0px 0px 40px; */
    

}
.logo-img{
height:92% ;
width: 92%;
background-image: url("https://i.pinimg.com/originals/0f/8b/28/0f8b2870896edcde8f6149fe2733faaf.jpg");
background-size: cover;
border-radius: 50%;
background-repeat: no-repeat;
background-position: top;
animation: mymove 15s infinite;
}

  
  @keyframes mymove {
    50% {transform: rotate(360deg);}
  }
  @media screen and (min-width:912px) and (max-width:1300px){
    .logo-container{
      
  width: 85px;
  height: 85px;
  margin-bottom: 8px;
    }
}
@media screen and (min-width:250px) and (max-width:700px){
  .logo-container{
    
width: 55px;
height: 55px;
margin-bottom: 8px;
  }
}
@media screen and (min-width:1024px) and (max-width:2000px){
  .logo-container{
    
width: 60px;
height: 60px;
margin-bottom: 8px;
  }
}