* {
    font-family: "Poppins SemiBold";

}

.statistic-container {
    /* border:  1px solid red; */
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0D1117;
    gap: 100px;

}

.statistic-container h1 {
    margin-top: 120px;
    margin-bottom: 50px;
  
}

.statistic-parent {
    /* border:  1px solid blue; */
    width: 90%;
    height: 30%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4%;
    margin-top: -110px;
   
}

.statistic-parent>div {
    /* border:  1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #022634;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.statistic-parent>div>h4 {
    font-size: 17px;

}

@media screen and (min-width:610px) and (max-width:1100px) {
    .statistic-parent {
        width: 80%;
        height: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto);


    }

    .statistic-parent>div>h4 {
        font-size: 18px;
        justify-content: center;
    }
}

@media screen and (min-width:280px) and (max-width:610px) {
    .statistic-parent {
        width: 80%;
        height: 80%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto);

        padding: 10px;
    }

    .statistic-parent>div>h4 {
        font-size: 14px;
        justify-content: center;
       
    }
}