.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:14vh;
    /* border: 1px solid red;  */
    background-color: rgba(0, 0, 0, 0.426);
    /* background: transparent; */
    
   
    
}
.navbar-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
     width: 100%;
     height: 100%;
    /* border: 1px solid green;  */
   padding: 20px;
 
}
.navbar-link{
     display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 100%;
    /* border: 1px solid yellow;  */
   
  
}
.hamberger-menu {
    display: none;
    
   
}

.default{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.active{
  color: red;
  text-decoration: none;
  font-size: 30px;
}

@media screen and (max-width:1340px) {
    .hamberger-menu{
        display: block;
        font-size: 5.5rem;
    }
    .navbar-link {
        display: none;
    }
   .hide-option{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     gap: 10px;
     color: black;
     /* border: 1px solid red; */
     background-color: rgb(16, 28, 29);
     color: white;
      width: 100%;
      height: 40%;
      position: absolute;
      top: 88px;
      right: 35px;
      left: 0px;
      z-index: 1;
      font-size: 20px;
    }
    /* .profile-details-name{
        font-size: 20px;
    }
    .profile-details-role .primary-text{
        font-size: 12px;
    }
    .profile-options .btn{
        width: 120px;
        padding: 11px  0;
        z-index: 700;
    } */
}
@media screen and (max-width:580px)and (min-width:280px){
    .hamberger-menu{
        display: block;
        font-size: 2.5rem;
    }
    .navbar-link {
        display: none;
    }
}