.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:14vh;
     position: sticky;
     top: 0;
    border-bottom: 1px solid rgb(75, 65, 65); 
    /* background-color: rgba(0, 0, 0, 0.426); */
    /* background: transparent; */
    background-color: #022634;
   z-index: 900;
    
}
.navbar-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
     width: 100%;
     height: 100%;
    /* border: 1px solid green;  */
   padding: 20px;

 
}
.navbar-link{
     display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;
    /* border: 1px solid yellow;  */
   
}

h3{
    border-bottom: 2px solid gray;
    font-size: 25px;
}

#dropdown-item-button{
  width: fit-content;
 
}


.btn_nav {
    color: var(--white);
  
    font-size: 12px;
    background-color: #ff5823;
    border-radius: 50px;
    padding: 5px 5px;
    width: 100%;
    cursor: pointer;
    
    font-family: "Poppins SemiBold";
    
  }
 
 
  .nav_div_resume{
    background-color: #0D1117;
    padding:8px;
   

  }
  .btn_nav:hover {
    color: aliceblue;
    border: 2px solid #ff5823;
    background-color: #1f2235;
  
   
  }
  
  /* .menu_main{
z-index: 1;
  } */

 @media screen and (min-width:912px) and (max-width:1280px){
    .navbar-container{
        height: 12vh;
       }
    .navbar-link {
       width: 80%;
     
    }
   
  
   
  
}
@media screen and (min-width:1280px) and (max-width:1300px){
   
    .navbar-link {
      
    
       width: 80%;
       font-size: 20px;
    }
 
   

}
@media screen and (min-width:280px) and (max-width:912px){
   
    #dropdown-item-button{
        padding: 5px;
        font-size: 20px;
      margin-top: 3px;
    }
    #dropdown{
        background-color:#0D1117;
      
         display: flex;
         flex-direction: column;
     } 
     }
@media screen and (min-width:250px) and (max-width:450px){
   
   h3{
    font-size: 16px;
   }

}

@media screen and (min-width:280px) and (max-width:390px){
   
  .btn_nav{
    margin: auto;
    /* margin-left: 35px; */
    display: block;
    font-size: 11px;
    padding:5px 5px;
    width: 60%;
  
    
    }  
   
 
 }
 @media screen and (min-width:411px) and (max-width:912px){
   
    .btn_nav{
      margin: auto;
      /* margin-left: 35px; */
      display: block;
      font-size: 18px;
      padding:5px 5px;
      width: 80%;
    
      
      }  
     
   
   }
